body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

body.light {
    color: #333333;
}

body.dark {
    color: #DDDDDD;
}

#title {
    width: 100%;
    max-width: 1200px;
}

#configurator {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

#config {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#codegen {
    width: 100%;
    max-width: 1200px;
    margin-top: 40px;
}

#generated {
    border: 10px solid #2E3441;
    border-radius: 10px;
    font-size: larger;
}

div.configvalue {
    margin: 6px;
}

div.config_checkbox {
    margin-left: 10px;
}

#yapa {
    width: 75%;
    padding: 25px;
    height: 650px;
}

input[type="color"] {
    width: 20px;
    height: 20px;
    visibility: hidden;
}

span.colorinput {
    border: 2px solid;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

input[type="range"] {
    width: 100px;
    margin-right: 10px;
}
